.main-window {
  width: 50%;
  margin: 0 auto;
  height: 100vh;
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-area {
  overflow: auto;
}
.chatsection {
  height: 70%;
  border: solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
